<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benefits of Working With Me</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/benefits.css" />
  </head>
  <body>
    <section class="benefits">
      <div class="benefits-container">
        <h2 class="title-benefits">BENEFITS OF WORKING WITH ME</h2>
        <ul class="benefits-group-ul">
          <li class="benefits-block-group">
            <div class="icon-benefits-div">
              <svg class="icon-benefits" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-user-benefits"></use>
              </svg>
            </div>
            <div class="content">
              <h3 class="subtitle-benefits">Expertise</h3>
              <p class="benefits-paragraph-text">
                As a highly experienced developer, I have deep knowledge of
                programming and website development.
              </p>
            </div>
          </li>
          <li class="benefits-block-group">
            <div class="icon-benefits-div">
              <svg class="icon-benefits" width="24" height="24">
                <use
                  href="../img/symbol-defs.svg#icon-message-chat-circle-benefits"
                ></use>
              </svg>
            </div>
            <div class="content">
              <h3 class="subtitle-benefits">Communication</h3>
              <p class="benefits-paragraph-text">
                Understanding your needs and wants is my priority and I am
                always open to discussions and corrections.
              </p>
            </div>
          </li>
          <li class="benefits-block-group">
            <div class="icon-benefits-div">
              <svg class="icon-benefits" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-brush-benefits"></use>
              </svg>
            </div>
            <div class="content">
              <h3 class="subtitle-benefits">Art</h3>
              <p class="benefits-paragraph-text">
                Thanks to my creative nature, I am ready to accept challenges
                and help you bring your ideas to life.
              </p>
            </div>
          </li>
          <li class="benefits-block-group">
            <div class="icon-benefits-div">
              <svg class="icon-benefits" width="24" height="24">
                <use
                  href="../img/symbol-defs.svg#icon-hourglass-benefits"
                ></use>
              </svg>
            </div>
            <div class="content">
              <h3 class="subtitle-benefits">Urgent execution</h3>
              <p class="benefits-paragraph-text">
                I understand how important time is to you. Ready to work quickly
                and efficiently, without reducing the quality of work.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <a href="#work-together" class="order-button">Order the project</a>
    </section>

    <section id="work-together">
      <h2>Work Together</h2>
    </section>
  </body>
</html>
