<section class="covers">
  <div class="container covers-container js-container-covers">
    <h2 hidden class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img1.png 1x, /img/covers-img1x2.png 2x"
            src="/img/covers-img1.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img2.png 1x, /img/covers-img2x2.png 2x"
            src="/img/covers-img2.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img3.png 1x, /img/covers-img3x2.png 2x"
            src="/img/covers-img3.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img4.png 1x, /img/covers-img4x2.png 2x"
            src="/img/covers-img4.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img5.png 1x, /img/overs-img5x2.png 2x"
            src="/img/covers-img5.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img6.png 1x, /img/covers-img6x2.png 2x"
            src="/img/covers-img6.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img7.png 1x, /img/covers-img7x2.png 2x"
            src="/img/covers-img7.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img8.png 1x, /img/covers-img8x2.png 2x"
            src="/img/covers-img8.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img9.png 1x, /img/covers-img9x2.png 2x"
            src="/img/covers-img9.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img10.png 1x, /img/covers-img10x2.png 2x"
            src="/img/covers-img10.png"
            alt="covers-img1"
          />
        </li>
      </ul>
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img4.png 1x, /img/covers-img4x2.png 2x"
            src="/img/covers-img4.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img5.png 1x, /img/covers-img5x2.png 2x"
            src="/img/covers-img5.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img6.png 1x, /img/covers-img6x2.png 2x"
            src="/img/covers-img6.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img7.png 1x, /img/covers-img7x2.png 2x"
            src="/img/covers-img7.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img8.png 1x, /img/covers-img8x2.png 2x"
            src="/img/covers-img8.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img9.png 1x, /img/covers-img9x2.png 2x"
            src="/img/covers-img9.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img10.png 1x, /img/covers-img10x2.png 2x"
            src="/img/covers-img10.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img1.png 1x, /img/covers-img1x2.png 2x"
            src="/img/covers-img1.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img2.png 1x, ./img/covers-img2x2.png 2x"
            src="/img/covers-img2.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img3.png 1x, /img/covers-img3x2.png 2x"
            src="/img/covers-img3.png"
            alt="covers-img1"
          />
        </li>
      </ul>
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img8.png 1x, /img/covers-img8x2.png 2x"
            src="/img/covers-img8.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img9.png 1x, /img/covers-img9x2.png 2x"
            src="/img/covers-img9.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img10.png 1x, /img/covers-img10x2.png 2x"
            src="/img/covers-img10.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img1.png 1x, /img/covers-img1x2.png 2x"
            src="/img/covers-img1.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img2.png 1x, /img/covers-img2x2.png 2x"
            src="/img/covers-img2.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img3.png 1x, /img/covers-img3x2.png 2x"
            src="/img/covers-img3.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img4.png 1x, /img/covers-img4x2.png 2x"
            src="/img/covers-img4.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img5.png 1x, /img/covers-img5x2.png 2x"
            src="/img/covers-img5.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img6.png 1x, /img/covers-img6x2.png 2x"
            src="/img/covers-img6.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img7.png 1x, /img/covers-img7x2.png 2x"
            src="/img/covers-img7.png"
            alt="covers-img1"
          />
        </li>
      </ul>
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img6.png 1x, /img/covers-img6x2.png 2x"
            src="/img/covers-img6.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img7.png 1x, /img/covers-img7x2.png 2x"
            src="/img/covers-img7.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img8.png 1x, /img/covers-img8x2.png 2x"
            src="/img/covers-img8.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img9.png 1x, /img/covers-img9x2.png 2x"
            src="/img/covers-img9.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img10.png 1x, /img/ccovers-img10x2.png 2x"
            src="/img/covers-img10.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img1.png 1x, /img/covers-img1x2.png 2x"
            src="/img/covers-img1.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img2.png 1x, /img/covers-img2x2.png 2x"
            src="/img//covers-img2.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="/img/covers-img3.png 1x, /img/covers-img3x2.png 2x"
            src="/img/covers-img3.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              /img/covers-img4.png                     1x,
              /img/covers-img/img-x2/covers-img4x2.png 2x
            "
            src="/img/covers-img4.png"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              img/covers-img5.png                     1x,
              img/covers-img/img-x2/covers-img5x2.png 2x
            "
            src="/img/covers-img5.png"
            alt="covers-img1"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
