<section class="covers">
  <div class="covers-container js-container-covers">
    <h2 hidden class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img1.webp   1x,
              ../img/covers-img/img-x2/covers-img1x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img1.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img2.webp   1x,
              ../img/covers-img/img-x2/covers-img2x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img2.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img3.webp   1x,
              ../img/covers-img/img-x2/covers-img3x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img3.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img4.webp   1x,
              ../img/covers-img/img-x2/covers-img4x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img4.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img5.webp   1x,
              ../img/covers-img/img-x2/covers-img5x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img5.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img6.webp   1x,
              ../img/covers-img/img-x2/covers-img6x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img6.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img7.webp   1x,
              ../img/covers-img/img-x2/covers-img7x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img7.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img8.webp   1x,
              ../img/covers-img/img-x2/covers-img8x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img8.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img9.webp   1x,
              ../img/covers-img/img-x2/covers-img9x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img9.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img10.webp   1x,
              ../img/covers-img/img-x2/covers-img10x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img10.webp"
            alt="covers-img1"
          />
        </li>
      </ul>
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img4.webp   1x,
              ../img/covers-img/img-x2/covers-img4x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img4.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img5.webp   1x,
              ../img/covers-img/img-x2/covers-img5x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img5.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img6.webp   1x,
              ../img/covers-img/img-x2/covers-img6x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img6.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img7.webp   1x,
              ../img/covers-img/img-x2/covers-img7x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img7.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img8.webp   1x,
              ../img/covers-img/img-x2/covers-img8x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img8.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img9.webp   1x,
              ../img/covers-img/img-x2/covers-img9x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img9.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img10.webp   1x,
              ../img/covers-img/img-x2/covers-img10x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img10.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img1.webp   1x,
              ../img/covers-img/img-x2/covers-img1x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img1.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img2.webp   1x,
              ../img/covers-img/img-x2/covers-img2x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img2.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img3.webp   1x,
              ../img/covers-img/img-x2/covers-img3x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img3.webp"
            alt="covers-img1"
          />
        </li>
      </ul>
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img8.webp   1x,
              ../img/covers-img/img-x2/covers-img8x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img8.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img9.webp   1x,
              ../img/covers-img/img-x2/covers-img9x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img9.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img10.webp   1x,
              ../img/covers-img/img-x2/covers-img10x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img10.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img1.webp   1x,
              ../img/covers-img/img-x2/covers-img1x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img1.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img2.webp   1x,
              ../img/covers-img/img-x2/covers-img2x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img2.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img3.webp   1x,
              ../img/covers-img/img-x2/covers-img3x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img3.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img4.webp   1x,
              ../img/covers-img/img-x2/covers-img4x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img4.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img5.webp   1x,
              ../img/covers-img/img-x2/covers-img5x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img5.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img6.webp   1x,
              ../img/covers-img/img-x2/covers-img6x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img6.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img7.webp   1x,
              ../img/covers-img/img-x2/covers-img7x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img7.webp"
            alt="covers-img1"
          />
        </li>
      </ul>
      <ul class="marquee__inner js-covers-inner">
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img6.webp   1x,
              ../img/covers-img/img-x2/covers-img6x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img6.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img7.webp   1x,
              ../img/covers-img/img-x2/covers-img7x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img7.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img8.webp   1x,
              ../img/covers-img/img-x2/covers-img8x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img8.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img9.webp   1x,
              ../img/covers-img/img-x2/covers-img9x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img9.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img10.webp   1x,
              ../img/covers-img/img-x2/covers-img10x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img10.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img1.webp   1x,
              ../img/covers-img/img-x2/covers-img1x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img1.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img2.webp   1x,
              ../img/covers-img/img-x2/covers-img2x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img2.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img3.webp   1x,
              ../img/covers-img/img-x2/covers-img3x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img3.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img4.webp   1x,
              ../img/covers-img/img-x2/covers-img4x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img4.webp"
            alt="covers-img1"
          />
        </li>
        <li class="marquee__line">
          <img
            class="covers__img"
            srcset="
              ../img/covers-img/img-x1/covers-img5.webp   1x,
              ../img/covers-img/img-x2/covers-img5x2.webp 2x
            "
            src="../img/covers-img/img-x1/covers-img5.webp"
            alt="covers-img1"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
