<link rel="stylesheet" href="../css/faq.css" />
<section class="container faq">
  <h2 class="faq-header">FAQ</h2>
  <ul class="ac-container container-list" id="faq">
    <li class="ac item">
      <h3 class="ac-header item-header">
        <button type="button" class="ac-trigger question">
          What programming languages are most often used in your project?<svg
            class="faq-svg-open"
            width="20"
            height="20"
          >
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="faq-svg-close" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </h3>
      <div class="ac-panel text-div">
        <p class="ac-text text" id="text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>

    <li class="ac item">
      <h3 class="ac-header item-header">
        <button type="button" class="ac-trigger question">
          What are the deadlines for the project?<svg
            class="faq-svg-open"
            width="20"
            height="20"
          >
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="faq-svg-close" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </h3>
      <div class="ac-panel text-div">
        <p class="ac-text text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>
    </li>

    <li class="ac item">
      <h3 class="ac-header item-header">
        <button type="button" class="ac-trigger question">
          What payment methods do you accept?<svg
            class="faq-svg-open"
            width="20"
            height="20"
          >
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="faq-svg-close" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </h3>
      <div class="ac-panel text-div">
        <p class="ac-text text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>
    </li>

    <li class="ac item">
      <h3 class="ac-header item-header">
        <button type="button" class="ac-trigger question">
          How can I contact you?<svg
            class="faq-svg-open"
            width="20"
            height="20"
          >
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="faq-svg-close" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </h3>
      <div class="ac-panel text-div">
        <p class="ac-text text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages
        </p>
      </div>
    </li>

    <li class="ac item">
      <h3 class="ac-header item-header">
        <button type="button" class="ac-trigger question">
          Do you provide advice and support?<svg
            class="faq-svg-open"
            width="20"
            height="20"
          >
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="faq-svg-close" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </h3>
      <div class="ac-panel text-div">
        <p class="ac-text text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>
    </li>

    <li class="ac item">
      <h3 class="ac-header item-header">
        <button type="button" class="ac-trigger question">
          What does the process of developing a software product look like form
          idea to implementation?<svg
            class="faq-svg-open"
            width="20"
            height="20"
          >
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
          <svg class="faq-svg-close" width="20" height="20">
            <use href="../img/sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </h3>
      <div class="ac-panel text-div">
        <p class="ac-text text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>
    </li>
  </ul>
</section>
