<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a class="header-logo" href="">
        <img
          src="../img/image-logo.jpg"
          alt="Logo"
          width="80"
          height="80"
          class="header-img"
        />jefferson*
      </a>
    </div>
    <nav>
      <a class="header-menu" href="">Menu</a>
      <ul class="header-nav-list visually-hidden">
        <li><a href="#about-me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <a href="#work-together" class="header-anchor-link">Order the project</a>
    <button type="button" class="menu-open-btn">=</button>
  </div>
  <div class="mob-menu">
    <div>
      <button type="button" class="mob-menu-close">x</button>
      <nav>
        <ul class="mob-nav-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#about-me">About me</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#benefits">Benefits</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#projects">Projects</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#work-together" class="mob-anchor-link">Order the project</a>
  </div>
</header>
