<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello. <br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-nav">
      <ul class="hero-list">
        <li class="hero-item">
          <a
            class="hero-item-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG
          </a>
        </li>
        <li class="hero-item">
          <a
            class="hero-item-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB
          </a>
        </li>
        <li class="hero-item">
          <a
            class="hero-item-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT
          </a>
        </li>
        <li class="hero-item">
          <a
            class="hero-item-link"
            href="https://github.com/rubanAlexUa/js-project-team-10"
            target="_blank"
            >GH
          </a>
        </li>
      </ul>
      <a
        class="hero-email"
        href="https://lloydjeferson@gmail.com"
        target="_blank"
        >lloydjeferson@gmail.com
      </a>
    </div>
  </div>
</section>
