<section class="projects" id="projects">
  <div class="container">
    <h2 class="project-title">Projects</h2>
    <div class="swiper swiper-2">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="project-content">
            <div class="project-info">
              <ul class="tags">
                <li class="tags-item">#react</li>
                <li class="tags-item">#js</li>
                <li class="tags-item">#node js</li>
                <li class="tags-item">#git</li>
              </ul>
              <p class="project-info-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <button type="button" class="see-project-btn">
                <a
                  href="https://github.com/rubanAlexUa/js-project-team-10"
                  target="_blank"
                  class="project-link"
                  >See project</a
                >
              </button>
            </div>
            <div class="project-image">
              <picture>
                <source
                  srcset="
                    /img/image_1_pc@1x.webp 1x,
                    /img/image_1_pc@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    /img/image_1_tablet@1x.webp 1x,
                    /img/image_1_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/image_1_mob@1x.webp 1x,
                    /img/image_1_mob@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="/img/image_1_mob@1x.webp" alt="Project 1" />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-content">
            <div class="project-info">
              <ul class="tags">
                <li class="tags-item">#react</li>
                <li class="tags-item">#js</li>
                <li class="tags-item">#node js</li>
                <li class="tags-item">#git</li>
              </ul>
              <p class="project-info-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <button type="button" class="see-project-btn">
                <a
                  href="https://github.com/rubanAlexUa/js-project-team-10"
                  target="_blank"
                  class="project-link"
                  >See project</a
                >
              </button>
            </div>
            <div class="project-image">
              <picture>
                <source
                  srcset="
                    /img/image_2_pc@1x.webp 1x,
                    /img/image_2_pc@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    /img/image_2_tablet@1x.webp 1x,
                    /img/image_2_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/image_2_mob@1x.webp 1x,
                    /img/image_2_mob@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="/img/image_2_mob@1x.webp" alt="Project 2" />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="project-content">
            <div class="project-info">
              <ul class="tags">
                <li class="tags-item">#react</li>
                <li class="tags-item">#js</li>
                <li class="tags-item">#node js</li>
                <li class="tags-item">#git</li>
              </ul>
              <p class="project-info-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <button type="button" class="see-project-btn">
                <a
                  href="https://github.com/rubanAlexUa/js-project-team-10"
                  target="_blank"
                  class="project-link"
                  >See project</a
                >
              </button>
            </div>
            <div class="project-image">
              <picture>
                <source
                  srcset="
                    /img/image_3_pc@1x.webp 1x,
                    /img/image_3_pc@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    /img/image_3_tablet@1x.webp 1x,
                    /img/image_3_tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/image_3_mob@1x.webp 1x,
                    /img/image_3_mob@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="/img/image_3_mob@1x.webp" alt="Project 3" />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <div class="slider-buttons">
        <button class="swiper-button-prev">
          <svg class="icon-arrow">
            <use href="/img/Sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next">
          <svg class="icon-arrow">
            <use href="/img/Sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
