<section class="reviews" id="reviews-section">
  <div class="container" id="reviews-container">
    <h2 class="title">Reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper" id="reviews-list"></ul>
    </div> 
    <div class="swiper-button">
      <div class="swiper-button-prev" id="prev-btn">
        <svg class="arrow-left">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
    </div>
      <div class="swiper-button-next" id="next-btn">
        <svg class="arrow-right">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>   
    </div>
      </div> 
  </div>
  <script type="module" src="js/reviews.js"></script>
</section>

