<section class="reviews" id="reviews-section">
  <div class="container reviews-container">
    <h2 class="title">Reviews</h2>
    <div class="swiper swiper-1">
      <ul class="swiper-wrapper" id="reviews-list"></ul>
    </div>
    <div class="swiper-button swiper-1">
      <div class="swiper-button-prev swiper-1" id="prev-btn">
        <svg class="arrow-left swiper-1">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next swiper-1" id="next-btn">
        <svg class="arrow-right swiper-1">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <script type="module" src="js/reviews.js"></script>
</section>
