.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me {
  display: flex;
  align-items: center;
}

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.about-me-box {
  display: flex;
  justify-content: center;
  padding: 32px 32px 272px 32px;
  border-radius: 24px;
  width: 343px;
  background-color: #242527;
  margin-bottom: 16px;
}

.about-me-title {
  max-width: 279px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.about-me-title-part {
  color: #ed3b44;
}

.about-me-title-part-two {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-photo {
  display: block;
}

.about-me-img {
  border-radius: 24px;
  width: 100%;
}

.accordion-container .ac .ac-header {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.accordion-container .ac .ac-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.accordion-container .ac .ac-panel .ac-text {
  display: block;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 0 0 32px 0;
}
.accordion-container .ac .ac-panel .ac-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}

.accordion-container .ac.is-active > .ac-header .ac-icon-open {
  text-align: center;
  width: 15px;
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
}

.accordion-container .ac.is-active > .ac-trigger .ac-icon-close {
  display: block;
}

.accordion-container .ac.is-active > .ac-trigger .ac-icon-open {
  display: none;
}

.accordion-container .ac .ac-trigger::after {
  content: '';
  display: none;
}

.accordion-container .ac .ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.accordion-container .ac .ac-trigger .ac-icon-box {
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
}

.accordion-container .ac .ac-trigger .ac-icon-open {
  fill: transparent;
  stroke: #fafafa;
}

.accordion-container .ac .ac-trigger .ac-icon-close {
  fill: transparent;
  stroke: #fafafa;
  display: none;
}

.accordion-container .ac {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 32px;
}

.accordion-container .ac.is-active > .ac-trigger .ac-icon-close {
  display: block;
}

.swiper-block {
  width: 100%;
  position: relative;
}

.swiper-block .swiper-wrap {
  width: 100%;
  max-width: 260px;
}

.swiper-block .swiper {
  width: 100%;
  height: 130px;
  margin-top: 32px;
}

.swiper-block .swiper-element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  fill: var(--button-text);
  border: 1px solid rgba(250, 250, 250, 0.2);
  /* width: 130px; */
  height: 130px;
}

.swiper-block .swiper-element.ss-active {
  border-radius: 100%;
  background: #ed3b44;
}

.swiper-block .swiper-list {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: center;
}

.sw-icon-v {
  width: 7px;
  height: 14px;
  stroke: #fafafa;
  fill: none;
}

.swiper-block .swiper-button {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  right: 0;
}

.swiper-block .swiper-button::after {
  content: '';
  display: none;
}

@media screen and (min-width: 768px) {
  .about-me-box {
    width: 704px;
    max-height: 700px;
    padding-top: 64px;
  }

  .about-me-title {
    max-width: 576px;
    font-size: 38px;
    line-height: 105%;
  }

  .about-me-img {
    width: 704px;
    height: 700px;
  }

  .swiper-block .swiper-wrap {
    width: 100%;
    max-width: 600px;
  }

  .swiper-block .swiper {
    height: 200px;
    margin-top: 64px;
  }

  .swiper-block .swiper-element {
    width: 200px;
    height: 200px;
  }

  .swiper-block .swiper-list {
    font-size: 20px;
  }

  .sw-icon-v {
    width: 10px;
    height: 20px;
  }

  .swiper-block .swiper-button {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .about-me-box {
    width: 680px;
    margin-bottom: 0;
    margin-right: 16px;
  }

  .about-me-title {
    max-width: 552px;
  }

  .about-me-img {
    width: 680px;
  }

  .accordion-container .ac .ac-panel {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 696px;
  }

  .swiper-block {
    margin-top: 96px;
    padding-right: 144px;
    padding-left: 32px;
  }

  .swiper-block .swiper-wrap {
    width: 100%;
    max-width: 1200px;
  }

  .swiper-block .swiper-button {
    right: 32px;
  }
}
