.ac,
.ac .ac-header,
.ac-header,
.ac .ac-panel,
.ac .ac-trigger,
.ac .ac-trigger::after,
.accordion-container,
.ac .ac-panel .ac-text {
    all: unset;
}

.faq {
    margin-bottom: 32px;
    margin-top: 32px;
    background-color: #1C1D20;
    min-width: 320px;
    max-width: 375px;
    padding: 0 16px 64px 16px;
}

.faq-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
    cursor: pointer;
}

.q-container {
    /* display: flex;
    flex-direction: column;
    width: 100%; */
}

.item {
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1C1D20;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.item-header {
    margin: 0;
    padding: 0;
}

.question {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    width: 289px;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
}
/* .question::after {
    content: none;
    display: none;
} */

.faq-svg {
    transform: translate(150%, -50%);
    position: absolute;
    right: 0;
    top: 50%; 
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 7px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-div {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
} 

.text {
    font: "Arial", sans-serif;
    color: rgba(250, 250, 250, 0.6);
    margin-bottom: 20px;
}

.text-div.js-enabled {
    visibility: hidden;
}

.text-div.is-active {
    visibility: visible;
}

@media only screen and (min-width: 768px) {
    .faq {
        margin-bottom: 48px;
        margin-top: 48px;
        max-width: 704px;
        padding: 0 32px 96px 32px;
    }

    .item {
        padding-top: 42px;
        padding-bottom: 32px;
    }

    .question {
        width: 574px;
        /* min-height: 104px; */
        padding: 0;
    }
    
    .faq-svg {
        transform: translate(200%, -50%);
    }
    .text-div {
        margin-right: 30px;
    }
    
    .text-div .is-active{
        margin-top: 32px;
    } 
}

@media only screen and (min-width: 1440px) { 
    .faq {
        margin-bottom: 82px;
        margin-top: 82px;
        max-width: 1376px;
        padding: 0 32px 164px 32px;
    }

    .q-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .item {
        order: 0;
        padding: 0;
        padding-top: 42px;
        padding-bottom: 32px;
    }
    .item:first-child {
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }
    .item:nth-child(1) {
        order: 0;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }
    .item:nth-child(2) {
        order: 2;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }
    .item:nth-child(3) {
        order: 3;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }
    .item:nth-child(4) {
        order: 1;
        padding-left: 32px;
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }
    .item:nth-child(5) {
        order: 2;
        padding-left: 32px;
    }
    .item:nth-child(6) {
        order: 4;
        padding-left: 32px;
    }

    .item-header {
        margin: 0;
        padding: 0;
    }
    
    .question {
        width: 574px;
        padding: 0;
    }
    
    .faq-svg {
        transform: translate(150%, -50%);
    }
}