.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 32px;
  background-color: transparent;
}

.header-container {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.header-img {
  border-radius: 18px;
}

.menu {
  display: none;
}

.header-anchor-link {
  display: none;
}

.menu-open-btn {
  height: 28px;
  background-color: transparent;
  border: none;
}

.header-open-icon {
  stroke: #fafafa;
  fill: #fafafa;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #1c1d20;
  background-image: url(../img/mob-menu.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 16px 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 300ms ease;
  overflow: auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/mob-menu-2x.webp);
  }
}

.hidden {
  transform: translateX(100%);
}

.mob-menu-close {
  display: block;
  position: absolute;
  top: 32px;
  right: 16px;
  background-color: transparent;
  border: none;
}

.mob-nav-list {
  margin-top: 302px;
}

.mob-menu-item {
  margin-bottom: 12px;
  text-align: center;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 12px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.mob-menu-link:hover {
  color: #ed3b44;
}

.mob-anchor-link {
  display: flex;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-top: auto;
}

@media only screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #fafafa;
  }

  .menu {
    position: relative;
    display: inline-block;
  }

  .header-menu-btn {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    transition: color 300ms ease;
  }

  .header-menu-btn:hover {
    color: #e0373f;
  }

  .nav-menu {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 10px 15px;
    display: none;
    text-align: center;
  }

  .nav-menu-item {
    padding: 5px 0;
  }

  .nav-menu-link {
    display: block;
    font-size: 16px;
    transition: color 300ms ease;
    white-space: nowrap;
  }

  .nav-menu-link:hover,
  .nav-menu-link:focus {
    color: #e0373f;
  }

  .nav-menu.show {
    display: block;
  }

  .header-anchor-link {
    display: flex;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background-color: #ed3b44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    transition: background-color 300ms ease;
  }

  .header-anchor-link:hover,
  .header-anchor-link:focus {
    background-color: #e0373f;
  }

  .menu-open-btn {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
}
