.hero {
  background-color: #1c1d20;
  background-image: url(../img/hero-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-top: 300px; */
  padding-top: 281px;
  padding-bottom: 32px;
}

.hero-title {
  font-weight: 500;
  /* font-size: 90px; */
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  /* padding-bottom: 243px; */
  padding-bottom: 212px;
  /* max-width: 1084px; */
  max-width: 375px;
  margin: 0 auto;
}

.hero-list {
  display: flex;
  /* gap: 8px; */
  gap: 4px;
}

.hero-nav {
  display: flex;
  justify-content: end;
  /* gap: 8px; */
  gap: 4px;
}

.hero-item {
}

.hero-item-link {
  font-weight: 500;
  font-size: 14px;
  /* font-size: 16px; */
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  /* width: 55px;
  height: 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-email {
  font-weight: 500;
  /* font-size: 16px; */
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  /* padding: 18px; */
  /* min-width: 223px;
  height: 55px; */
  min-width: 178px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
  }
  .hero-title {
    font-size: 90px;
    padding-bottom: 187px;
    max-width: 632px;
  }
  .hero-list {
    gap: 8px;
  }
  .hero-nav {
    gap: 8px;
  }
  .hero-item-link {
    font-size: 16px;
    width: 55px;
    height: 55px;
    transition: border 300ms ease;
  }

  .hero-item-link:hover,
  .hero-item-link:focus {
    border: 1px solid #fafafa;
  }

  .hero-email {
    font-size: 16px;
    min-width: 223px;
    height: 55px;
    transition: border 300ms ease;
  }

  .hero-email:hover,
  .hero-email:focus {
    border: 1px solid #fafafa;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-title {
    padding-bottom: 212px;
    max-width: 1084px;
  }
}
