.project-title {
  width: 274px;
  text-align: left;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.project-content {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 100%;
  overflow: hidden;
}

.project-info {
  padding: 22px 32px;
  background-color: #fafafa;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 6px;
  margin-bottom: 96px;
  width: 274px;
}

.tags-item {
  font-size: 16px;
  color: #1c1d20;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-info-text {
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 32px;
  color: #1c1d20;
  width: 279px;
}

.see-project-btn {
  display: inline-block;
  border: none;
  padding: 13px 32px;
  border-radius: 60px;
  background-color: #ed3b44;
  color: #fafafa;
  font-size: 16px;
  transition: background 0.3s ease;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.project-link {
  display: block;
  width: 100%;
  height: 100%;
}

.see-project-btn:hover,
.see-project-btn:focus {
  background-color: #e0373f;
}

.project-image {
  padding: 100px 16px;
  background-color: #242527;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.slider-buttons .swiper-button-prev,
.slider-buttons .swiper-button-next {
  position: static !important;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  width: 68px;
  height: 68px;
  transition: all 0.3s ease;
  margin-top: 32px;
}

.slider-buttons .swiper-button-prev::after,
.slider-buttons .swiper-button-next::after {
  content: none;
}

.icon-arrow {
  stroke: #fafafa;
}

.slider-buttons .swiper-button-prev svg,
.slider-buttons .swiper-button-next svg {
  width: 32px;
  height: 32px;
}

.slider-buttons .swiper-button-prev.swiper-button-disabled,
.slider-buttons .swiper-button-next.swiper-button-disabled {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  stroke: #3b3b3b;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .project-info {
    padding: 64px 130px 64px 64px;
  }
  .tags {
    width: 100%;
    margin-bottom: 164px;
  }
  .tags-item {
    padding: 18px;
  }

  .project-info-text {
    width: 494px;
    font-size: 44px;
    line-height: 100%;
    text-align: left;
  }

  .see-project-btn {
    padding: 18px 50px;
  }

  .project-image {
    padding: 120px 45px;
  }
}

@media (min-width: 1440px) {
  .project-content {
    flex-direction: row;
  }

  .tags {
    margin-bottom: 223px;
  }

  .project-image {
    padding: 120px 37px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .slider-buttons .swiper-button-prev,
  .slider-buttons .swiper-button-next {
    margin-top: 64px;
  }
}
