.footer {
  background-image: image-set(
    url(/img/work-together/glass-effect-mob-1x.png) 1x,
    url(/img/work-together/glass-effect-mob-2x.png) 2x
  );
  background-repeat: no-repeat;
  background-position: right;
}
.container-footer {
}

.footer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-left: 295px;
}

.footer-background-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.footer-titel-block {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 64px;
}

.title-second {
  padding-left: -52px;
}

.footer-picture {
  border-radius: 12px;
  object-fit: cover;
  display: block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.footer-titel {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.titel-red {
  color: #ed3b44;
}

.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 64px;
}
.form-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-validation-message {
  position: absolute;
  bottom: 25px;
}

.contact-imput {
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  padding-bottom: 20px;
  cursor: pointer;
  z-index: 10;
  padding-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-imput:focus,
.contact-imput:active {
  border-bottom: 1px solid #fafafa;
}

.email {
  margin-bottom: 16px;
}

.text {
  margin-bottom: 32px;
}

.footer-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: #ed3b44;
  border: none;
  padding: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #e0373f;
}

.footer-contact-list {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.footer-contact-email {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  text-align: center;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
}

.footer-contact-tel {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 118px;
  height: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-tel-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.footer-contact-email:hover,
.footer-contact-email:focus,
.footer-contact-tel:hover,
.footer-contact-tel:focus {
  border-color: #fafafa;
}

/*---------------modal------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(15, 15, 16, 0.6);
  z-index: 12;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50% -50%) scale(1.5);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: #1c1d20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  width: 22px;
  height: 22px;
  stroke: #fafafa;
}

.modal-titel {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  width: 279px;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: image-set(
      url(/img/work-together/elements-des-1x.png) 1x,
      url(/img/work-together/elements-des-2x.png) 2x
    );
    background-repeat: no-repeat;
    background-position: right;
  }
  .container-footer {
  }

  .footer-background {
    margin-left: 570px;
  }

  .footer-titel-block {
    gap: 20px;
    align-items: baseline;
  }

  .title-second {
    margin-left: -90px;
  }

  .footer-picture {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }

  .footer-titel {
    font-size: 64px;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
  }

  .contact-imput {
    width: 245px;
    height: 44px;
    margin-right: 32px;
    margin-bottom: 0;
  }

  .contact-imput {
    width: 245px;
  }

  .footer-button {
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }

  .footer-contact-list {
    gap: 8px;
  }

  .footer-contact-email {
    width: 239px;
    height: 55px;
  }

  .footer-contact-link {
    padding: 18px 32px;
    font-size: 16px;
  }

  .footer-contact-tel {
    width: 173px;
    height: 55px;
  }

  .footer-contact-tel-link {
    padding: 18px 32px;
    font-size: 16px;
  }

  /*---------------modal------------*/
  .modal-content {
    padding: 64px;
    width: 492px;
    height: 246px;
  }

  .modal-close {
    width: 24px;
    height: 24px;
  }

  .modal-titel {
    width: 364px;
  }

  .modal-text {
    width: 364px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background-image: image-set(
      url(/img/work-together/glass-effect-mob-1x.png) 1x,
      url(/img/work-together/glass-effect-mob-2x.png) 2x
    );
    background-repeat: no-repeat;
    background-position: right;
  }
  .container-footer {
  }

  .footer-background {
    margin-left: 1050px;
  }

  .contact-imput {
    width: 390px;
  }
  .email {
    margin-right: 32px;
  }
  .text {
    margin-right: 86px;
  }
  .contact-imput {
    width: 390px;
  }
  .footer-button {
    margin: 0;
  }

  .footer-address-email {
    margin-left: 180px;
  }
}
